div {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}

#caja-1 {
  background-color: lightslategray;
  padding: 25px;
  margin: 25px;
  border: solid 10px slategray;
}

#caja-2 {
  background-color: lightcoral;
  padding: 25px;
  margin: 25px;
  border: solid 10px slategray;
  box-sizing: border-box;
}

#caja-3 {
  background-color: lightgreen;
  padding: 25px;
  margin: 25px;
  border: solid 10px slategray;
  box-sizing: content-box;
}